<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TO-DO App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="release/popeye.js"></script>
    <link rel="stylesheet" href="release/popeye.css" />
<script src="controller/main.js"></script>

<link href="src/css/angular-datepicker.css" rel="stylesheet" type="text/css" />
 <script src="src/js/angular-datepicker.js"></script>

<script src="https://unpkg.com/angular-toastr/dist/angular-toastr.tpls.js"></script>
<link rel="stylesheet" href="https://unpkg.com/angular-toastr/dist/angular-toastr.css" />

  </head>
  <body style="background-color: #75aaff; margin-top: 10%" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
          <div class="offset-5">
            <h1 class="text-white">TO-DO</h1>
          </div>
        </div>

        <div class="row">
          <div class="offset-5">
            <button type="button" name="button" id="button" class="btn btn-lg btn-success" ng-click="collapse()">Add new to-do item</button>
          </div>
        </div>

<div ng-show="visible">
  <div class="popeye-modal-container">
    <div class="popeye-modal">
      <a class="popeye-close-modal" ng-click="collapse2()"></a>
      <form name="addingForm">
        <div class="offset-3">
          <h2 class="text-primary mb-5">Add new to-do item</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <datepicker  date-format="yyyy-MM-dd">
              <input type="text" name="date" id="date" ng-model="item.date" required/>
            </datepicker>
            <span style="color:red" ng-show="addingForm.date.$touched && addingForm.date.$invalid">Date is required</span>
          </div>
          <div class="col-6">
              <input type="text" name="description" id="description" placeholder="description" class="form-control" ng-model="item.description" required>
              <span style="color:red" ng-show="addingForm.description.$touched && addingForm.description.$invalid">Description is required</span>
          </div>
          <div class="offset-5 mt-5">
            <button type="button" name="submit" id="submit" class="btn btn-lg btn-primary" ng-disabled="addingForm.$invalid" ng-click="addItem(); collapse3()">Add</button>
            <button type="button" name="update" id="update" class="btn btn-lg btn-secondary" ng-disabled="addingForm.$invalid" ng-click="update(); collapse2()">Update</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div ng-show="visible2">
  <div class="popeye-modal-container">
    <div class="popeye-modal">
      <a class="popeye-close-modal" ng-click="confirm2()"></a>
        <div class="offset-3">
          <h2 class="text-danger mb-5">Are you sure?</h2>
        </div>
        <div class="row">
          <input type="text" value="{{test}}" hidden/>
          <button class="btn btn-lg btn-success" ng-click="remove(test); confirm2()">Yes</button>
          <button ng-click="confirm2()" class="btn btn-lg btn-danger ml-4">No</button>
        </div>
    </div>
  </div>
</div>


<div class="row mt-4" ng-repeat = "x in items">
  <div class="col-4 offset-1">
    <input type="text" value="{{x.date}}" readonly class="form-control"/>
  </div>
  <div class="col-4">
    <input type="text" value="{{x.description}}" readonly class="form-control" />
  </div>
  <div class="col-1">
    <button type="button" name="update" id="update" class="btn btn-warning" ng-click="edit(x._id); collapse()">Update</button>
  </div>
  <div class="col-1"><!--ng-click="remove(x._id)"-->
    <button type="button" name="remove" id="remove" class="btn btn-danger" ng-click="confirm(x._id)" >Remove</button>
  </div>
</div>


  </body>
</html>
