<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>TO-DO App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="release/popeye.js"></script>
    <link rel="stylesheet" href="release/popeye.css" />
<script src="controller/main.js"></script>

  </head>
  <body style="background-color: #75aaff; margin-top: 10%" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
          <div class="offset-5">
            <h1 class="text-white">TO-DO</h1>
          </div>
        </div>

        <div class="row">
          <div class="offset-5">
            <button type="button" name="button" id="button" class="btn btn-lg btn-success" ng-click="collapse()">Add new to-do item</button>
          </div>
        </div>

        <!-- TODO: uradit angular validaciju -->
        <!-- TODO: uradit toastr -->
<div ng-show="visible">
  <div class="popeye-modal-container">
    <div class="popeye-modal">
      <a class="popeye-close-modal" ng-click="collapse2()"></a>
      <form>
        <div class="offset-3">
          <h2 class="text-primary mb-5">Add new to-do item</h2>
        </div>
        <div class="row">
          <div class="col-6">
            <input type="date" name="date" id="date" class="form-control">
          </div>
          <div class="col-6">
              <input type="text" name="description" id="description" placeholder="description" class="form-control" >
          </div>
          <div class="offset-5 mt-5">
            <button type="button" name="submit" id="submit" class="btn btn-lg btn-primary">Add</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>



  </body>
</html>
